<div class="user-card">
    <div class="img-container">
        <img src=<%= user.photo %> id=<%= user.name%> alt=<%= user.name%>/>
    </div>
    <div class="name-container">
        <h2 class='user-name'><%= user.name%></h2>
        <i class="count">Number of posts: <%= user.posts_counter%> </i>
    </div>
</div>